<div [ngClass]="{'outgoing_msg':message.author.id !== user.id,
  'incoming_msg':message.author.id === user.id}">
  <div [ngClass]="{'outgoing__msg_img':message.author.id !== user.id,
  'incoming_msg_img':message.author.id === user.id}" class="outgoing__msg_img">
    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
  </div>
  <div [ngClass]="{'sent_msg':message.author.id !== user.id,
  'received_msg':message.author.id === user.id}">
    <span>{{message.author.fullName}}</span>
    <div class="received_withd_msg">
      <p>{{message.content}}</p>
      <span class="time_date"> {{message.timeCreation | date : "MMM d y, HH:mm:ss"}}</span></div>
  </div>
</div>
