.close
  padding-left: 5px

button,
button:active,
button:focus
  outline: none

.type_msg
  border-top: 1px solid #c4c4c4
  position: relative

.input_msg_write input
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0
  border: medium none
  color: #4c4c4c
  font-size: 15px
  min-height: 48px
  width: 95%

.btn-circle
  position: fixed
  bottom: 20px
  z-index: 99
  border: none
  outline: none
  cursor: pointer
  width: 40px
  height: 40px
  border-radius: 100%
  text-align: center
  font-size: 20px
  line-height: 1.42857

