<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 d-md-block bg-light sidebar px-4 pt-3">
      <div class="input-group">
        <input #search class="form-control" type="search" placeholder="Search" (input)="filterItem(search.value)">
        <div class="input-group-append">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
      </div>
      <app-chat-list [chatList]="filteredItems" (click)="getMessagesByChatId($event)"></app-chat-list>
      <button id="addButton" type="button" class="btn btn-primary btn-circle" (click)="showComponentCreateChat()">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="col-md-8 col-lg-8 ml-sm-auto px-lg-3 pb-2 pt-3">
      <button *ngIf="showCloseButton" type="button" class="close" aria-label="Close" (click)="hideComponent()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div #messagecontainer>
      </div>
      <form *ngIf="showInputMessage" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="input-group pt-2">
        <textarea placeholder="Write message" wrap="hard" class="form-control" id="message" formControlName="message"
                  aria-label="With textarea"></textarea>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit"
                    [disabled]="checkInput()">Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
